header.masthead {
	background-image: url("../img/theexchange/lagos/IMG_3540.jpg");
}
header.masthead-about {
  background-image: url("../img/boystoo/akure/IMG_2215.jpg");
}
header.masthead-birthing-story {
  background-image: url("../img/boystoo/ibadan/IMGM2944.jpeg");
}
header.masthead-vision {
  background-image: url("../img/theexchange/lagos/IMG_3521.jpg");
}
header.masthead-board {
  background-image: url("../img/boystoo/ile-ife/IMG_5167.jpg");
}
header.masthead-team {
  background-image: url("../img/theexchange/lagos/IMG_3902.jpg");
}
header.masthead-projects {
  background-image: url("../img/boystoo/ile-ife/IMG_5257.jpg");
}
header.masthead-volunteer {
  background-image: url("../img/boystoo/ile-ife/IMG_5257.jpg");
}
header.masthead-ondo {
  background-image: url("../img/boystoo/akure/IMG_2234.jpg");
}
header.masthead-osun {
  background-image: url("../img/boystoo/ile-ife/IMG_5294.jpg");
}
section{
  padding: 10px 0 0;
}
section#contact {
    background-color: #000;
    background-image: url(../img/bqafrica4.png);
    background-size: 1470px 1200px;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}
@media (min-width: 768px){
.timeline:before {
  left: 50%;
  }
}
@media(min-width:576px) and (max-width:767px){
  .form-sm{
      width:360px;
      height:1277px;
      display:none!important;
  }
  
}
@media(min-width:768px){
  .form-lg{
      width:750px!important;
      height:1277px!important;
  }
  
}
@media(min-width: 576px) and (max-width: 767px){
  .screen-adj-hide{
    display: none!important;
  }
}
@media(min-width: 465px) and (max-width: 577px){
  .screen-adj-show{
    display: block!important;
  }
}
/*LEARN MORE*/
@media(min-width: 403px) and (max-width: 473px){
  .learn-mg{
    margin-top: 30px!important;
  }
}
.timeline:before{
  background-color: #d3d4d6;
}
.timeline>li .timeline-image {
  background-color: #bec65d;
  }
#mainNav .navbar-toggler {
	background-color: #212856!important;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #c3ce62;
}

.btn-primary {
  background-color: #212856;
  border-color: #212856;
  border-radius: 50px;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #0c102d !important;
  border-color: #0c102d !important;
  color: white;
}
::selection {
  background: #212856;
  text-shadow: none;
}
ul.social-buttons li.bg-twitter a:active, ul.social-buttons li.bg-twitter a:focus, ul.social-buttons li.bg-twitter a:hover {
  background-color: #38A1F3!important;
}
ul.social-buttons li.bg-facebook a:active, ul.social-buttons li.bg-facebook a:focus, ul.social-buttons li.bg-facebook a:hover {
  background-color: #3b5998!important;
}
ul.social-buttons li.bg-linkedin a:active, ul.social-buttons li.bg-linkedin a:focus, ul.social-buttons li.bg-linkedin a:hover {
  background-color: #0077B5!important;
}
ul.social-buttons li.bg-youtube a:active, ul.social-buttons li.bg-youtube a:focus, ul.social-buttons li.bg-youtube a:hover {
  background-color: red!important;
}
.bg-instagram{
  background-image:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  /*background-color: rgba(198, 62, 239, 1);*/
}
.pad-sm{
  padding-top: 245px;
  /*color: #e0f523;*/
}
.pad-lg{
  padding-top: 75px;
  /*color:#e9f71d;*/
}
.contact-pad{
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-links a{
  
}
.footer-links a:hover a:focus{
  color: #a2a75d!important;
}
.img-1{
  /*margin-left: -546px!important;*/
}
.about-1{
  /*width: 75%!important;*/
  text-align: left!important;
}
.disc{
  list-style-type: disc!important;
}
.creed-sm{
  border-radius: 10%!important;
  height: 93px!important;
}
.creed-lg{
  border-radius: 10%!important;
  height: 183px!important;
}
.text-white{
  color: white
}
.no-line{
  text-decoration-line: none!important;
}
.text-bold{
  font-weight: bold;
}
.no-resize{
  resize: none
}
.donate{
  margin-left: 20px;
  box-shadow: 0px 0px 3px 3px #76777d;
}
.donate-brd-rad-pad{
  border-radius: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.donate-sb{
  background-color: #bec65d!important;
  margin-bottom: 50px!important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    color: #fff;
    background-color: #212856;
    border-color: #212856;
}


/* CARD +/- */
.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.list .fa {
  transition: .3s transform ease-in-out;
}
.list .collapsed .fa {
  transform: rotate(-90deg);
}
.a-color{
  color: #c3ce62!important;
}
.brd-btm-w-2{
  border-bottom-width: 2px;
}
.brd-btm-solid-1-d8{
  border-bottom: solid 1px #d8d8d8;
}
.i-search{
  width: 290px;
  line-height: 3.5;
  text-align: center;
}
.footer-hr{
  margin-bottom: 0px;
  margin-top: 0px;
}

.width-156{
  width: 156px;
}
.width-154{
  width: 154px;
}
/* DROPDOWN */
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown-menu{
  top:80%;
  -webkit-transition: all .4s ease-in-out!important;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #212856;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #b4bf5d;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: block;
    transform: scale(0);
    transition: ease-out 0.2s;
}
.dropdown:hover .dropdown-menu {
    transform: scale(1);
}
.dropdown-menu1
{
  border:none;
  display: block;
  transform: scale(1)!important;
  height: 0px;
  overflow: hidden;
  padding: 0px;
  top: 180px;
  transition: all .2s;
}
.dropdown:hover .dropdown-menu1
{
  display: block;
  top: 100%;
  height: inherit;
}

a > li > ul > div > nav{
  background: transparent!important;
}
p{
  font-size: 20px;
}

/* ABOUT US */
.about-style{
  text-align: left;
}
.font-20{
  font-size: 20px;
}
.poi-color{
  color: #212856
}
.poi-color:hover{
  color: #c3ce62;
}

.article .intro-lead-in {
  position: relative;
  vertical-align: top;
  color: white;
  display: block;
}

.overlay-header:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:33.5em;
  display: block;
  z-index:0;
  background-color: rgba(0,0,0,0.5);
}

#more  {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}